table {
    border: 2px solid black;
    border-collapse: collapse;
}
td { 
    text-align: center;
    border: 1px solid black;
    padding: .5em;
    font-style: italic;
}
.rowgrey
{
    background-color: darkgrey;
}