h1
{
    letter-spacing: .2em;
    word-spacing: .3em;
}
.bigletterspacing 
{
    letter-spacing: .5em;
}

.smallletterspacing
{
    letter-spacing: -.1em;
}
.bigwordspacing
{
    word-spacing: .8em;
}
.smallwordspacing
{
    word-spacing: -.3em;
}